.pesquisa-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-container input {
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    padding-left: 6%;
}

.pesquisa-container::before{
    content: '\1F50D';
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    width: 100px;
    background: rgb(112, 106, 105);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
}
