* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 119, 133);
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
}

main {
    flex-grow: 1;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.galeria-itens {
    background-color: rgb(12, 54, 90);
    width: 340px;
    height: 240px;
    flex-grow: 1;
    transition: all .5s ease-in-out;
    border: 10px solid rgb(255,255,255);
}

.galeria-itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: invert(100%);
}

.galeria-itens:hover{
    box-shadow: 10px 10px 20px #000;
}

.galeria-itens:hover img{
    transform: scale(1.1) rotate(-1.3deg);
    filter: invert(0%);
}