* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 119, 133);
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
}

main {
    flex-grow: 1;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.galeria-itens {
    background-color: rgb(12, 54, 90);
    width: 340px;
    height: 240px;
    flex-grow: 1;
    transition: all .5s ease-in-out;
    border: 10px solid rgb(255,255,255);
}

.galeria-itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: invert(100%);
}

.galeria-itens:hover{
    box-shadow: 10px 10px 20px #000;
}

.galeria-itens:hover img{
    transform: scale(1.1) rotate(-1.3deg);
    filter: invert(0%);
}

.imagem-container{
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.slide:target{
    z-index: 999;
    opacity: 100%;
}

.slide .fechar{
    position: absolute;
    color: rgb(255, 255, 255);
    user-select: none;
    text-decoration: none;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all .1s linear;
    z-index: 4;
}

.slide .fechar:hover{
    background-color: rgb(255, 60, 0);
}

.slide .navegacao{
    position: absolute;
    background-color: tan;
    color: white;
    font-size: 3rem;
    user-select: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.541);
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
}

.slide .navegacao:hover{
    background-color: rgba(78, 78, 78, 0.664);
}

.slide .anterior{
    left: 0;
}

.slide .proximo{
    right: 0;
}

.slide img{
    width: 100%;
    height: 100%;
}